@page
@model RecruitCatnaphadpr.Pages.OurTeamModel
@{
}

<body style="background-color:powderblue;">
    <section id="team" class="team_member section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1>Meet our team</h1>
                <p>“And I knew exactly what to do. But in a much more real sense, I had no idea what to do.”</p>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="image1">
                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.18169-9/18881945_1477036515700423_1148121453728292519_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=oxywB9sfgfQAX_CklJ6&_nc_ht=scontent-ort2-2.xx&oh=78411fb7c7c77c26cb1d70baef77c6ac&oe=6161C2AC" style="width:40%" alt="image1">

                        </div>
                        <div class="team-content">
                            <h3 class="title">Pranav Naphad</h3>
                            <span class="post">CEO</span>
                        </div>
                    </div>
                </div><br>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://upload.wikimedia.org/wikipedia/en/d/dc/MichaelScott.png" alt="team-image">

                        </div>
                        <div class="team-content">
                            <h3 class="title">Michael Scott</h3>
                            <span class="post">Regional Manager</span>
                        </div>
                    </div>
                </div> <br>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Dwight_Schrute.jpg" alt="team-image">

                        </div>
                        <div class="team-content">
                            <h3 class="title">Dwight Schrute</h3>
                            <span class="post">Assistant to the Assistant to the Regional Manager</span>
                        </div>
                    </div>
                </div><!--- END COL -->

            </div>
        </div>
        
        
        
    </section>
    </body>